{% extends "./layout.html" %}
{% block contents %}


    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div style="padding-top: 150px;padding-bottom: 200px;">
                <form method="post">
                    {% include "./form_field.html" with form=form %}

                    <button type="submit" class="btn btn-success float-right">제출 완료</button>
               </form>
            </div>
        </div>
    </header>
{% endblock %}

