{% load widget_tweaks %}

{% for non_field_error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ non_field_error }}
    </div>
{% endfor %}

{% csrf_token %}

{% for field in form %}
    <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
        <div class="col-sm-10">
            {% render_field field class+='form-control' %}
            {% if field.errors %}
                <div class="col-xs-9">
                    <span class="text-danger field-error">{{ field.errors.0 }}</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
