<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">언제까지 계획만 할꺼야?</div>
            <div class="intro-heading text-uppercase">내 손으로 서비스 만들자</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'apply' %}" target="_blank">지원하기</a>
        </div>
    </div>
</header>