{% extends './layout.html' %}
{% load static %}
{% block contents %}
    {% block index_header %}
        {% include './header.html' %}
    {% endblock %}
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">3줄 요약</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">창업 발판</h4>
                    <p class="text-muted">창업 꿈꾸는 사람한테는 진입장벽이 낮아짐. <br>사실 이렇게 거창하게 말 안하더라도, 세상을 바라보는 눈이 또 하나 생기는거</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">진로에 도움됨</h4>
                    <p class="text-muted">강점 없으면 도태되기 마련임... 자소서에 몇 줄 적어서 포장하기보단, 님 자체가 세지면 되는 거임. 그러면 안 뽑아줬다고 징징댈 필요도 없음.</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">어차피 나중엔 필수</h4>
                    <p class="text-muted">어차피 10년 후 필수 됨. 굳이 개발자가 아니더라도 데이터 분석, 데이터 수집, 마케팅, 금융, IT산업, 자동차 산업 등. 님이 어딜가더라도 IT는 알아야 함. 쪽팔리기 싫다면 </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="what_better">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">그래서 정확히 뭐가 좋은데?</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/portfolio/01-thumbnail.jpg' %}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>서비스를 보는 눈</h4>
                        <p class="text-muted">서비스를 보는 눈이 생김. 서비스제품을 볼 때, 뭘 해야 할지. 어떻게 해야할지 파바박 됨 </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/portfolio/02-thumbnail.jpg' %}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>창업 시작에 좋음</h4>
                        <p class="text-muted">직접 개발 할 수 있으면, 개발자 못 구해서 전전긍긍 할 필요도 없음. 투자 못 받았다고 징징댈 필요도 없음. 사업 계획만 할 필요 없음</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/portfolio/03-thumbnail.jpg' %}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>진로의 폭이 커짐</h4>
                        <p class="text-muted">굳이 IT회사가 아니더라도, 대부분 99% 산업에서 IT기술을 활용함, 100% 강점</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/portfolio/04-thumbnail.jpg' %}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>IT랑 관련없는 부서에서도</h4>
                        <p class="text-muted">
                            인사, 총무 부서에 가서도 IT가 활용됨. 반복된 업무를 할텐데 언제 다 직접함? 업무자동화 프로그램 만들고 월급 루팡 돼서 놀러다니셈. <br>
                            그래도 너가 훨 빠름
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/portfolio/05-thumbnail.jpg' %}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>언제까지 최저시급 받을래?</h4>
                        <p class="text-muted">알바 시급 최저 2~3배로 가즈아</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/portfolio/06-thumbnail.jpg' %}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>사실 안해도 됨</h4>
                        <p class="text-muted">인생은 원래 복불복, 될놈될이라..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="when">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">그래서 언제 해서 언제 끝남?</h2>
                    <h3 class="section-subheading text-muted"><strong style="font-size:1.4em;">많이 빡셈</strong> <br><br> 한 순간의 선택이 당신의 3달을 힘들게 할 수 있음.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'images/about/1.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5월 1주차</h4>
                                    <h4 class="subheading">HTML/CSS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">HTML/CSS 과제형식으로 공부해와야 함. 뭘 가르쳐주고 할만큼 어려운 게 아니고, 많이 치고 익혀야 하는 것이기 때문. 우리는 헷갈릴 거 같은 부분만 따로 설명해줄 예정</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'images/about/2.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5월 2주차</h4>
                                    <h4 class="subheading">jQuery (JS)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">과제형식으로 공부해야 함. 이것도 뭘 가르쳐 줄 게 없음. 그래도 이건 친절하게 설명도 다 해주고 실습도 할거임.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'images/about/3.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5월 3주차~4주차</h4>
                                    <h4 class="subheading">파이썬(Python)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        프로그래밍 언어임. 사실 쉬운데 매우 어려워 함. 대다수가 여기서 힘들어 함. 익숙치않을 것이기에 과제 형식으로 계속 공부하고, 친절히 설명하고 실습도 할 거고. 같이 문제 푸는 게임도 할거임.
                                        여기서 많이 포기하는데, 이게 중요.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'images/about/4.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6월 1주차~4주차</h4>
                                    <h4 class="subheading">Django + DB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        웹 프로그래밍 본격 시작임. 읽으면서도 뭔지 모르겠다는 거 다 아는데, 일단 들어보셈.
                                        여기서 앞에서 배운 (HTML/CSS, JS, Python) 다 쓸 거임.
                                        이거 배우면서 매 주 실습도 할거고, 매 주 과제도 있을 거임.
                                        질문을 많이 해줘야 함. 물론 시헙기간엔 쉬어야 할듯.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'images/about/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7월 1주차</h4>
                                    <h4 class="subheading">시험기간 빠진 거 보충할거</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        시험기간 빠진 거 보충하고, 다시 리마인드 시킬거임.
                                        그리고 이 때 부터 팀프로젝트 해서 각자 서비스 만들거임.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'images/about/5.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7월 2주차</h4>
                                    <h4 class="subheading">해커톤</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        서비스 만들거임. 님들이 만들고 싶은 서비스 만들고, 인터넷에 '배포'할 거임. 이거 배포하고 사람들한테 자랑하고
                                        칭찬 들을거임.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <strong>멋쟁이</strong>
                                    <br>되는
                                    <br>거임!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">그래서 누가 하는데?</h2>
                    <h3 class="section-subheading text-muted">다양한 능력치 섞여 있음.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'images/team/1.jpg' %}" alt="">
                        <h4>신윤수</h4>
                        <p class="text-muted">숭실대 벤처중소기업학과 졸업한 백수.</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'images/team/2.png' %}" alt="">
                        <h4>오지환</h4>
                        <p class="text-muted">벤처중소기업학과 전과자</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'images/team/3.jpg' %}" alt="">
                        <h4>김도현</h4>
                        <p class="text-muted">게임 좋아서 게임 개발자 된 덕후.</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">능력 없어도 최선 다하는 사람들임</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">님들은 왜함?</h2>
                    <h3 class="section-subheading text-muted">
                        그냥 후배들 어차피 배워야 할 거 같은데, 심심하기도 하고.. 멋진 일 좀 해볼까 해서..
                        기대도 하고 있고..
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light"  id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">어떻게 할거임?</h2>
                    <h3 class="section-subheading text-muted">팀원들끼리 모여서 같이 할거임</h3>
                </div>
                <div class="col-12 text-center">
                    <div class="w-100">생각 있으면 지원하셈</div>
                    <div>
                        <a href="{% url 'apply' %}" target="_blank" class="btn btn-primary">지원하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto"  src="" alt="시너지">
                        {#                        <img src="{% static 'images/logos/envato.jpg' %}" alt="">#}
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto"  src="" alt="Tweakers">
                        {#                        <img class="img-fluid d-block mx-auto" src="{% static 'images/logos/designmodo.jpg'  %}" alt="">#}
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto"  src="" alt="핀인사이">
                        {#                        <img class="img-fluid d-block mx-auto" src="{% static 'images/logos/themeforest.jpg' %}" alt="">#}
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{% static 'images/logos/creative-market.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Tweakers</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {#                <div class="col-md-4">#}
                {#                    <ul class="list-inline quicklinks">#}
                {#                        <li class="list-inline-item">#}
                {#                            <a href="#">Privacy Policy</a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </div>#}
            </div>
        </div>
    </footer>

{% endblock %}
>>>>>>> 7764c4ad4ed7acd46d03c0a846dde26118147a9c
