{% extends './base.html' %}

{% block contents_wrapper %}
    {% include './nav.html' %}

    <style>
        .messages{
            position: fixed;
            width: 100%;
            padding-left: 0;
            top: 100px;
            text-align: center;
            font-size: 30px;
        }
    </style>
    <div class="contents-wrapper">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-primary {{ message.tags }}"{% endif %}>
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block contents %}{% endblock %}
    </div>
{% endblock %}
